.about{
    width: 100%;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title__container{
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #fcfcfc;
}
.title__about{
    font-size: 42px;
    font-weight: 700;
    color: #2F2E33;
}
.title__about::first-letter{
    color: #7929e3;
}
.content__container{
    width: 80%;
    height: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #fcfcfc;
}
.txt__container__first{
    width: 50%;
    height: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.txt__container{
    width: 49%;
    height: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.p__about{
    font-size: 18px;
    font-weight: 400;
    color: #2F2E33;
    line-height: 32px;
}
.p__about span{
    font-weight: 700;
}
.list__title{
    font-size: 18px;
    font-weight: 700;
    color: #2F2E33;
    line-height: 30px;
}

li{
    font-size: 16px;
    font-weight: 400;
    color: #2F2E33;
    margin-left: 40px;
    line-height: 30px;
    width: 90%;
}
.p__txt{
    line-height: 26px;
    font-size: 18px;
}
.p__txt span{
    font-weight: 700;
}
@media screen and (max-width: 425px){
    .about{
        min-height: 210vh;
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: center;
    }
    .content__container{
        flex-direction: column;
        width: 100%;
        height: 95%;
        justify-content: flex-start;
        align-items: center;
    }
    .txt__container__first{
        width: 95%;
        height: 47%;
        font-size: 12px;
        align-items: flex-start;
        justify-content: center;
    }
    .list__title{
        font-size: 14px;
    }
    li{
        font-size: 13px;
    }
    .title__container{
        width: 95%;
        height: 5%;
        align-items: flex-end;
        justify-content: flex-start;
    }
    .p__about{
        font-size: 14px;
    }
    .title__about{
        font-size: 32px;
    }
    .txt__container{
        height: 47%;
        width: 95%;
    }
    .p__txt{
        font-size: 12px;
        line-height: 20px;
    }
}