*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-family: "Montserrat", serif;
    overflow-x: hidden;
}
.welcome__page{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.header__block{
    height: 8vh;
    width: 100%;
}
.welcome__page__img{
    background-image: url(../img/bg__desktop__date.png);
    width: 100%;
    height: 100%;
    background-size: cover;
}
.scroll__btn {
    position: fixed; 
    bottom: 50%; 
    right: 20px; 
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 600;
    background-color: #7929e3;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Зробити її поверх інших елементів */
  }
  .scroll__btn:hover{
    background-color: #fff;
    color: #7929e3;
    border: 2px solid #7929e3;
  }
@media screen  and (max-width: 425px) {
   .welcome__page__img{
    background-image: url(../img/lvivai_phone_3__bg.png);
    background-position: center;
   }
   .scroll__btn{
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 400;
    bottom: 5%;
   }
}