.program{
    width: 100%;
    min-height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
}
.program__title__container{
    width: 80%;
    height: 10vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #fcfcfc;
}
.program__title{
    font-size: 42px;
    font-weight: 700;
    color: #2F2E33;
}
.program__title::first-letter{
    color: #7929e3;
}
.program__content__container{
    width: 80%;
    height: 92%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fcfcfc;
}
hr{
    width: 100%;
    background-color: #2F2E33;
    height: 1px;
    border-radius: 2px;
}
.program__txt__container{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.time__container{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.event__container{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.time__container h4{
    font-size: 18px;
    font-weight: 400;
    color: #2F2E33;
    line-height: 50px;
}
.event__container h4{
    font-size: 18px;
    font-weight: 400;
    color: #2F2E33;
    line-height: 40px;
}
.event__container span{
    font-weight: 700;
}
.time__container span{
    font-weight: 700;
}
.event__container a{
    color: #7929e3;
}
@media screen and (max-width: 425px){
    .time__container{
        width: 20%;
    }
    .event__container{
        width: 80%;
        margin-left: 10px;
    }
    .time__container h4{
        font-size: 14px;
        line-height: 30px;
    }
    .event__container h4{
        font-size: 14px;
        line-height: 22px;
    }
    .program__content__container{
        width: 95%;
    }
    .program__title__container{
        width: 95%;
    }
}
